# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
*.g.dart
*.freezed.dart

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Android
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/xcshareddata/
ios/Flutter/Generated.xcconfig

# Generated
*.mocks.dart
.flutter-plugins
.flutter-plugins-dependencies
